<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Thông tin cá nhân</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col class="center">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
        </ion-col>
     </ion-row>
     <ion-row>
       <ion-col>
          <ion-list>
              <h4 class="center">{{ userInfo.firstName }} {{ userInfo.lastName }}</h4>
              <ion-item  style="color: yellow;">
                <ion-label class="center">
                  <ion-icon name="md-star"></ion-icon>
                  <ion-icon name="md-star"></ion-icon>
                  <ion-icon name="md-star"></ion-icon>
                  <ion-icon name="md-star"></ion-icon>
                </ion-label>
              </ion-item>
              <ion-item>
                  <ion-icon style="color: rgb(236, 54, 54);" slot="start" name="md-mail"></ion-icon>
                  <ion-label>{{ userInfo.emails }}</ion-label>
              </ion-item>
      
              <ion-item>
                <ion-icon style="color: rgb(15, 180, 10);" slot="start" name="md-call"></ion-icon>
                <ion-label>{{ userInfo.mobilePhone }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon style="color: rgb(24, 178, 224);" slot="start" name="md-contacts"></ion-icon>
                <ion-label>Bạn bè</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon style="color: rgb(253, 40, 76);" slot="start" name="md-heart"></ion-icon>
                <ion-label>Tin lưu</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="md-help-circle"></ion-icon>
                <ion-label>Trợ giúp</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="md-cog"></ion-icon>
                <ion-label>Cài đặt</ion-label>
              </ion-item>
              <ion-item>
               <ion-button (click)="logout()">Đăng xuất</ion-button>
              </ion-item>
            </ion-list>
       </ion-col>
     </ion-row>
     
     <ion-row>
       <ion-col>
         
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col>
        
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col>
         
       </ion-col>
     </ion-row>
     </ion-grid>
</ion-content>
