<ion-tabs color="primary">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="real-estate-posts">
      <ion-label>Bất động sản</ion-label>
      <ion-icon name="md-home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-label>Thông báo</ion-label>
      <ion-icon name="md-notifications"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="properties">
      <ion-label>Quản lý</ion-label>
      <ion-icon name="md-list-box"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="favorites">
      <ion-label>Yêu thích</ion-label>
      <ion-icon name="md-heart"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-label>Tôi</ion-label>
      <ion-icon name="md-person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>