
<ion-content padding id="welcome">
  <div style="padding: 10vh 2vw;">
  <img src="assets/imgs/logo.png" class="logo"/>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Welcome to Real Estate App</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid >
    <ion-row>
      <ion-col center text-center>
        <ion-button expand="block" fill="outline" routerLink="/index/signup">Đăng kí</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col center text-center>
        <ion-button expand="block" fill="outline"  routerLink="/index/signin">Đăng nhập</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
