<ion-header>
  <ion-toolbar>
    <ion-title>Đăng ký</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="register(form)" method="post" autocomplete="off">
    <ion-item>
        <ion-label position="floating">Họ</ion-label>
        <ion-input ngModel name="fName"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Tên</ion-label>
      <ion-input ngModel name="lName"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Địa chỉ email</ion-label>
      <ion-input type="email" ngModel name="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Số điện thoại</ion-label>
      <ion-input type="email" ngModel name="email"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Mật khẩu</ion-label>
      <ion-input type="password" ngModel name="password"></ion-input>
    </ion-item>
  
    <ion-button type="submit" expand="full" color="danger">Đăng ký</ion-button>
  </form>
  <p text-center>Bạn đã có tài khoản?</p>
  <ion-button expand="full" color="primary" routerLink="/index/signin">Đăng nhập</ion-button>
</ion-content>